extends layout

block content
  h1= title
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='csvFile')
    input(type='submit', value='Upload')
  form(action='/download', method='post', enctype='multipart/form-data')
    span= 'Download CSV file with data'
    br
    input(type='submit', name='getFile' value='Download')