body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  text-align: left;
}

table th {
  border: 1px solid;
}

thead th {
  padding: 1rem;
  background-color: beige;
}
