body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  border: 2px solid grey;
  max-width: 300px;
  padding: 2rem;
  margin: 1rem;
}
